body {
    background-image: url("/src/assets/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.neon-box {
    position: relative;
    margin: 2rem auto;
    padding: 0.25rem 2rem;
    width: fit-content;
    background-color: transparent;
    border: 0.5rem solid #007bff;
    border-radius: 1rem;

    box-shadow: inset 0 0 20px #007bff, 0 0 10px #007bff, 0 0 20px #007bff,
        0 0 30px #007bff;
    text-align: center;
}

.date-container,
.cycle-container,
.next-alarm {
    margin: 2rem auto;
    text-shadow: 0 0 10px #007bff, 0 0 20px #007bff, 0 0 30px #007bff, 0 0 40px #007bff,
        0 0 50px #007bff, 0 0 100px #007bff;
}

.date,
.cycle,
.clock,
.next-alarm {
    color: white;
    font-weight: bold;
    font-family: monospace, sans-seriff;
    text-align: center;
}

.date {
    margin: 0.5rem;
    font-size: 2.5rem;
}

.cycle {
    font-size: 1.5rem;
}

.clock {
    margin: 4rem;
    font-size: 6rem;
    text-shadow: 0 0 10px #007bff, 0 0 20px #007bff, 0 0 30px #007bff, 0 0 40px #007bff,
        0 0 50px #007bff, 0 0 100px #007bff;
}

.next-alarm {
    position: absolute;
    bottom: 5rem;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.alarm-container {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    background-color: #007bff;
    max-width: 4rem;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: inset 0 0 20px #007bff, 0 0 10px #007bff, 0 0 20px #007bff,
        0 0 30px #007bff;
    text-align: center;
}
.alarm-icon {
    max-width: 2.5rem;
}
